// SPDX-License-Identifier: GPL-2.0
/*
 */
/dts-v1/;
#include "zynq-7000.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "ZYNQ 7z010 mainboard based on Antminer S9";
	compatible = "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart1;
		mmc0 = &sdhci0;
        mmc1 = &sdhci1;
		gpio0 = &gpio0;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x40000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		bootcount@efffff0 {
			reg = <0xefffff0 0x10>;
			no-map;
		};

		fpga_space@f000000 {
			reg = <0xf000000 0x1000000>;
			no-map;
		};
	};
	
	leds {
		compatible = "gpio-leds";
		led_d18 {
			gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "mtd";
			function = LED_FUNCTION_MTD;
		};
		led_d19 {
			gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "default-on";
			function = LED_FUNCTION_POWER;
		};
		led_d20 {
			gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "mmc1";
			function = LED_FUNCTION_DISK;
		};

	};

	chosen {
		bootargs = "earlycon";
		stdout-path = "serial0:115200n8";
	};

    config {
        u-boot,boot-led = "led_d20";
        u-boot,activity-led = "led_d19";
    };
	
	usb_phy0: usbphy0@e0002000 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		drv-vbus;
		reset-gpios = <&gpio0 47 GPIO_ACTIVE_LOW>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
	};
	
	iio-hwmon {
        compatible = "iio-hwmon";
        io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>, <&adc 4>, <&adc 5>, <&adc 6>, <&adc 7>, <&adc 8>;
    };
	
};

&clkc {
	ps-clk-frequency = <33333333>;
};

// &nfc0 {
// 	status = "okay";
// 	#address-cells = <1>;
// 	#size-cells = <0>;
// 	nand@0 {
// 		reg = <0>;
// 		nand-ecc-mode = "on-die";
// 		nand-ecc-strength = <0x4>;
// 	};
// };

&qspi {
	status = "okay";
	num-cs = <1>;
    gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
	flash0: flash@0 {
		compatible = "micron,mx25l1606e", "jedec,spi-nor";
        status = "okay";
		reg = <0x0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <1>;
		spi-max-frequency = <5000000>;
		#address-cells = <1>;
		#size-cells = <1>;
		partition@0 {
			label = "bootloader";
			reg = <0x0 0x1e0000>;
		};
		partition@1 {
			label = "env";
			reg = <0x1e0000 0x20000>;
		};
	};
};

// &smcc {
	// status = "okay";
// };

&adc {
	status = "okay";
	#io-channel-cells = <1>;
};

&gpio0 {
	status = "okay";
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;

	/* 0362/5e62 */
	ethernet_phy: ethernet-phy@1 {
		reg = <1>;
	};
};

&sdhci0 {
	// bootph-all;
	status = "okay";
	disable-wp;
};

&usb0 {
	status = "okay";
	dr_mode = "otg";
	disable-over-current;
	usb-role-switch;
	role-switch-default-mode = "host";
	maximum-speed = "high-speed";
	usb-phy = <&usb_phy0>;
	
};

&sdhci1 {
	bootph-all;
	status = "okay";
	disable-wp;
	non-removable;
};

&uart1 {
	bootph-all;
	status = "okay";
};

&i2c0 {
	status = "okay";

    ds1339: rtc@68 {
		compatible = "dallas,ds1307";
		reg = <0x68>;
        aux-voltage-chargeable = <1>;
	};
};

&spi0 {
	status = "okay";
};

&can0 {
	status = "okay";
};

&ttc0 {
	status = "okay";
};

&watchdog0 {
	status = "disabled";
	// reset-on-timeout;
	timeout-sec = <200>;
};
